{% extends 'partials/base.html'%}
{% block title %}Password Reset Confirm Page{% endblock %}
{% load crispy_forms_tags %}



{% block content %}

<div class="cover">

<div class="container">
    <div class="row mt-5 pt-3">


        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">

                    <h3>Password Reset Confirm Page</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block w-100" type="submit">Confirm Reset Password</button>
                    </form>
                    

                </div>
            </div>
        </div>



    </div>
</div>

</div>

{% endblock %}


